.servises {
  display: flex;
  flex-direction: column;
  background-color: $cream-background;
  row-gap: 20px;
  border-top: 1px solid $dark-text;
}
.background {
  height: 478px;
  background-image: url(../../../images/whatidoImage.svg);
  background-repeat: no-repeat;
}
.info-block {
  border-top: none;
}
.title {
  @include Gilroy-Regular;
  text-align: center;
  text-transform: uppercase;
}
.section-title {
  margin: 0px 35px 40px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.card {
  border-bottom: 1px solid $dark-text;
  &--border {
    border: none;
  }
}
.card-title {
  @include Gilroy-Semibold($line-height: normal);
  text-transform: uppercase;
  padding-bottom: 10px;
}
.card-title__before-1::before {
  content: "01";
  @include Gilroy-Light;
  padding-right: 2px;
}
.card-title__before-2::before {
  content: "02";
  @include Gilroy-Light;
  padding-right: 2px;
}
.card-title__before-3::before {
  content: "03";
  @include Gilroy-Light;
  padding-right: 2px;
}
.card-title__before-4::before {
  content: "04";
  @include Gilroy-Light;
  padding-right: 2px;
}
.card-text {
  @include Inter-Regular;
  padding-bottom: 30px;
}
.card-decor-line {
  background-color: $dark-text;
  color: $dark-text;
}
