.servises {
    display: flex;
    flex-direction: column;
    background-color: $cream-background;
}

.background {
    height: 478px;
    background-image: url(../../../images/whatidoImage.svg);
    background-repeat: no-repeat;
}

.title {
    color: $dark-text;
    text-align: center;
    font-family: Gilroy-Light;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.section-title {
    margin: 20px 35px 40px;
}
.card-text {
    
}

