@mixin Gilroy(
  $dark-text: #252525,
  $font-family: Gilroy,
  $font-size: 80px,
  $font-weight: 300
) 
{
  color: $dark-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
@mixin Gilroy-Light(
  $dark-text: #000,
  $font-family: Gilroy-Light,
  $font-size: 35px,
  $font-weight: 400
) 
{
  color: $dark-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
@mixin Gilroy-Medium(
  $dark-text: #252525,
  $font-family: Gilroy-Medium,
  $font-size: 80px,
  $font-weight: 300
) 
{
  color: $dark-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
@mixin Gilroy-Semibold(
  $dark-text: #000,
  $font-family: Gilroy-Semibold,
  $font-size: 35px,
  $font-weight: 400
) 
{
  color: $dark-text;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}