@font-face {
  font-family: "Gilroy-Light";
  font-display: swap;
  src: url(../../fonts/Gilroy-Light.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url(../../fonts/Gilroy-Medium.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url(../../fonts/Gilroy-Semibold.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url(../../fonts/Inter.woff2) format('woff2');
  font-weight: 400;
}

